:root {
  --clr-white: #FFF;
  --clr-bg: #FFFBF3;
  --clr-img-bg: #FFEBC3;
  --clr-border: #C9C9C9;
  --clr-black: #000000;
  --clr-primary: #FFA800;
  --clr-hover: #C78300;
  --clr-secondary: #E89058;

  --fs-18: 18px;
  --fs-22: 22px;
  --fs-24: 24px;
  --fs-36: 36px;
  --fs-41: 41px;
  --fs-92: 92px;

  --ff-Inter: "Inter", serif;
}


*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
  font-style: italic;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/*
  Screen reader
*/
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  white-space: nowrap;
  border-width: 0;
}

body {
  font-family: var(--ff-Inter);
  background-color: var(--clr-bg);
}

.body-wrapper {
  width: 90%;
  max-width: 1200px;
  padding: 2em 0;
  margin: 0 auto;
}

.header__navbar {
  display: flex;
  justify-content: space-between;
}

.header__home,
.header__right-nav {
  display: none;
}

.header__right-nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: .7em;
}

.header__right-nav ul a {
  text-decoration: none;
  color: var(--clr-black);
  font-size: var(--fs-22);
  font-weight: 700;
}

.header__right-nav ul a:hover {
  color: var(--clr-hover);
}

.header__right-nav.active {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  background-color: var(--clr-white);
  height: 100%;
  padding: 2em;
  flex-direction: column;
  gap: 3rem;
  align-items: end;
  transition: all 0.5s ease-in-out;
}

.header__menu,
.header__close {
  cursor: pointer;
}

.header__close {
  position: relative;
  display: block;
}

.hero {
  margin-top: 5em;
  text-align: center;
}

.hero__content {
  max-width: 560px;
  margin: 0 auto;
  font-size: var(--fs-18);
  margin-bottom: 8rem;
  /* font-weight: 500; */
}

.hero__content-title {
  font-size: var(--fs-41);
  font-weight: 700;
  margin-bottom: .4em;
  letter-spacing: -2px;
  line-height: 1.2;
}

.hero__content-title span {
  display: inline-block;
  position: relative;
  z-index: -1;
  transform: rotate(-15deg);
  margin-left: -3px;
}

.hero__content-text {
  margin-bottom: 3rem;
}

.hero__btn {
  text-decoration: none;
  color: var(--clr-black);
  font-size: var(--fs-36);
  font-weight: 700;
  background-color: var(--clr-primary);
  padding: .4em .6em;
  border-radius: 5px;
}

.hero__btn:hover {
  border: 3px solid var(--clr-black);
}

.hero__image {
  margin-top: 3rem;
}

.hero__image {
  background-color: var(--clr-img-bg);
  border-radius: 50%;
  width: 90%;
  max-width: 600px;
  margin: 0 auto;
}

/* .hero__image img {

} */