:root {
  --clr-white: #FFF;
  --clr-bg: #FFFBF3;
  --clr-img-bg: #FFEBC3;
  --clr-border: #C9C9C9;
  --clr-black: #000000;
  --clr-primary: #FFA800;
  --clr-hover: #C78300;
  --clr-secondary: #E89058;

  --fs-18: 1.125rem;
  --fs-22: 1.375rem;
  --fs-24: 1.5rem;  
  --fs-36: 2.25rem;
  --fs-41: 2.563rem;
  --fs-60: 3.75rem;
  --fs-64: 4rem;

  --ff-Inter: "Inter", serif;
}


*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.6;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
  font-style: italic;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

body {
  font-family: var(--ff-Inter);
  background-color: var(--clr-bg);
}

.body-wrapper {
  width: 90%;
  max-width: 1200px;
  padding: 2em 0;
  margin: 0 auto;
}

.header__navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__home,
.header__right-nav {
  display: none;
}

.header__right-nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: .7em;
}

.header__right-nav ul a {
  text-decoration: none;
  color: var(--clr-black);
  font-size: var(--fs-22);
  font-weight: 700;
}

.header__right-nav ul a:hover {
  color: var(--clr-hover);
}

.header__right-nav.active {
  display: flex;
  position: fixed;
  top: 0;
  right: 0;
  background-color: var(--clr-white);
  height: 100%;
  padding: 2em;
  flex-direction: column;
  gap: 2rem;
  align-items: end;
  transition: all 0.5s ease-in-out;
}

.header__menu button,
.header__close button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  font-size: 1.8rem;
  font-weight: bold;
}

.header__menu button:focus-visible,
.header__close button:focus-visible {
  outline: .5em dashed black;
}

.header__close {
  position: relative;
  display: block;
}

.header__close button {
  background-color: black;
  color: white;
  padding: .2em .6em;
  border-radius: 90px;
  font-weight: 500;
  font-size: 1rem;
}

.hero {
  margin-top: 5em;
  text-align: center;
}

.hero__content {
  max-width: 560px;
  margin: 0 auto;
  font-size: var(--fs-18);
  margin-bottom: 8rem;
  /* font-weight: 500; */
}

.hero__content-title {
  font-size: var(--fs-41);
  font-weight: 700;
  margin-bottom: .4em;
  letter-spacing: -2px;
  line-height: 1.2;
}

.hero__content-title span {
  display: inline-block;
  position: relative;
  z-index: -1;
  transform: rotate(-15deg);
  margin-left: -3px;
}

.hero__content-text {
  margin-bottom: 3rem;
}

.hero__btn {
  text-decoration: none;
  color: var(--clr-black);
  font-size: var(--fs-36);
  font-weight: 700;
  background-color: var(--clr-primary);
  padding: .4em .6em;
  border-radius: 5px;
}

.hero__btn:hover {
  border: 3px solid var(--clr-black);
}

.hero__image {
  margin-top: 3rem;
}

.hero__image {
  background-color: var(--clr-img-bg);
  border-radius: 50%;
  width: 90%;
  max-width: 450px;
  margin: 0 auto;
}

@media (min-width: 700px) {
  .hero__content-title {
    font-size: var(--fs-60);
  }

  .hero__content-text {
    font-size: var(--fs-24);
  }
}

@media (min-width: 1024px) {
  .hero__content-title {
    font-size: var(--fs-64);
  }

  .header__home,
  .header__right-nav {
    display: block;
  }
  
  .header__menu button,
  .header__close button {
    display: none;
  }
  
  .header__right-nav ul {
    gap: 1.5em;
    flex-direction: row;
  }
  
  .header__left-nav {
    display: flex;
    align-items: center;
    gap: 1.5em;
  }
  
  .header__home {
    border-left: 2px solid;
  }
  
  .header__home a {
    text-decoration: none;
    color: var(--clr-black);
    font-size: var(--fs-22);
    font-weight: 400;
    margin-left: 1em;
  }
  
  .hero {
    text-align: left;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
    gap: 2em;
  }
  }

 